:root {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 20px;
}

.title-info {
    justify-content: center;
    text-align: center;
}

.title-info h1 {
    font-size: 70px;
    margin: 0px;
    margin-top: 15px;
    color: #026a37;
}

.hollow {
    color: white;
    text-shadow:
        -1px -1px 0 #026a37,
        1px -1px 0 #026a37,
        -1px 1px 0 #026a37,
        1px 1px 0 #026a37;
}

.degree-info {
    margin-inline: 20px;
    margin-top: 50px;
    justify-items: center;
}

.degree-info .fields {
    background-color: #CCCCCC;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
}

.degree-info select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

.degree-info input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

.degree-info button {
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
}

#schedule {
    display: none;
    margin-top: 40px;
    background-color: #CCCCCC;
    border-radius: 8px;
    padding: 30px;
    min-width: 600px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}