:root {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 20px;
}

.title-info {
    justify-content: center;
    text-align: center;
}

.title-info h1 {
    font-size: 70px;
    margin: 0px;
    margin-top: 15px;
    color: #039645;
}

.hollow {
    color: white;
    text-shadow:
        -1px -1px 0 #026a37,
        1px -1px 0 #026a37,
        -1px 1px 0 #026a37,
        1px 1px 0 #026a37;
}

.degree-info {
    margin-inline: 20px;
    margin-top: 50px;
    justify-items: center;
}

.fields {
    text-align: left;
    background-color: #053b2d;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
}

.fields label {
    color:white;
}

.fields select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

.fields input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

button {
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
    padding: 10px;
}

#schedule {
    display: none;
    margin-top: 40px;
    background-color: #053b2d;
    border-radius: 8px;
    padding: 30px;
    min-width: 600px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

#enroll {
    margin-top: 20px;
    width: 200px;
    align-self: center;
}

#enrolled {
    color: white;
    margin-left: 15px;
}

#gradient-bg {
    margin: 0;
    justify-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(300deg, #053b2d, #17ac32, #e0ff32);
}

#sign-in form {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #053b2d;
    border-radius: 8px;
    padding: 30px;
    width: 57vw;
}

#sign-in-button {
    margin-top: 20px;
    width: 120px;
    align-self: center;
}

#sign-in label {
    color: white;
    font-size: 15px;
}

#sign-in input {
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}